{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="list-grid-item mt-4">
            <div class="grid-item-content p-2">
                <div class="employers-list-img mt-3">
                    <img src="{% static 'images/amazon.png' %}" alt="" class="img-fluid mx-auto d-block rounded-circle">
                </div>
                <div class="grid-list-desc text-center mt-4">
                    <h5 class="mb-1">
                        <a href="https://www.amazon.jobs/content/en/career-programs/university-ops/eu-students-operations" class="text-dark">
                            Amazon
                        </a>
                    </h5>
                    <p class="text-muted f-14 mb-0">Data Protection Officer, EU Supply Shain Manager
                    </p>
                    <p class="text-muted f-14 mb-0">
                        <i class="mdi mdi-map-marker mr-2">

                        </i>Amazon EU SARL, 38 Avenue John F. Kennedy, L-1855, Luxembourg
                    </p>
                    <ul class="employers-icons list-inline mb-1">
                        <li class="list-inline-item">
                            <a href="#" class="text-warning">
                                <i class="mdi mdi-star f-19"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-warning">
                                <i class="mdi mdi-star f-19">

                                </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-warning">
                                <i class="mdi mdi-star f-19">

                                </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-warning">
                                <i class="mdi mdi-star f-19">

                                </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-warning">
                                <i class="mdi mdi-star f-19">

                                </i>
                            </a>
                        </li>
                    </ul>
                    <span class="badge badge-warning text-white">4.9
                    </span>
                </div>
            </div>
            <hr class="mt-0 mb-0">
            <div class="apply-button text-center mt-2 mb-2">
                <a href="https://www.aboutamazon.eu/" class="btn btn-custom btn-sm">View Profile</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="list-grid-item mt-4">
            <div class="grid-item-content p-2">
                <div class="employers-list-img mt-3">
                    <img src="{% static 'images/google.png' %}" alt="" class="img-fluid mx-auto d-block rounded-circle">
                </div>
                <div class="grid-list-desc text-center mt-4"><h5 class="mb-1">
                    <a href="https://www.google.com/about/careers/applications/" class="text-dark">Google</a>
                </h5>
                    <p class="text-muted f-14 mb-0">Software Engineer, Data Scientist</p>
                    <p class="text-muted f-14 mb-0"><i class="mdi mdi-map-marker mr-2">

                    </i>1600 Amphitheatre Parkway, Mountain View, CA 94043, USA</p>
                    <ul class="employers-icons list-inline mb-1">
                        <li class="list-inline-item"><a href="#" class="text-warning">
                            <i class="mdi mdi-star f-19"></i></a></li><li class="list-inline-item">
                        <a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a>
                    </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star-half f-19"></i></a></li>
                    </ul> <span class="badge badge-warning text-white">4.5</span>
                </div>
            </div><hr class="mt-0 mb-0">
            <div class="apply-button text-center mt-2 mb-2"> <a href="https://about.google/" class="btn btn-custom btn-sm">View Profile</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="list-grid-item mt-4">
            <div class="grid-item-content p-2">
                <div class="employers-list-img mt-3"> <img src="{% static 'images/apple.png' %}" alt="" class="img-fluid mx-auto d-block rounded-circle">
                </div>
                <div class="grid-list-desc text-center mt-4">
                    <h5 class="mb-1">
                        <a href="https://www.apple.com/careers/us/" class="text-dark">Apple</a>
                    </h5>
                    <p class="text-muted f-14 mb-0">iOS Developer, Product Designer</p>
                    <p class="text-muted f-14 mb-0"><i class="mdi mdi-map-marker mr-2">

                    </i>One Apple Park Way, Cupertino, CA 95014, USA
                    </p>
                    <ul class="employers-icons list-inline mb-1">
                        <li class="list-inline-item">
                            <a href="#" class="text-warning">
                                <i class="mdi mdi-star f-19">

                                </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star-outline f-19"></i></a></li>
                    </ul> <span class="badge badge-warning text-white">4.0</span></div></div><hr class="mt-0 mb-0">
            <div class="apply-button text-center mt-2 mb-2"> <a href="https://www.apple.com/business/" class="btn btn-custom btn-sm">View Profile</a></div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="list-grid-item mt-4">
            <div class="grid-item-content p-2">
                <div class="employers-list-img mt-3">
                    <img src="{% static 'images/samsung.png' %}" alt="" class="img-fluid mx-auto d-block rounded-circle"></div>
                <div class="grid-list-desc text-center mt-4">
                    <h5 class="mb-1"><a href="https://www.samsung.com/us/careers/" class="text-dark">Samsung</a></h5>
                    <p class="text-muted f-14 mb-0">Electronics Engineer, Software Engineer</p>
                    <p class="text-muted f-14 mb-0"><i class="mdi mdi-map-marker mr-2"></i>129, Samsung-ro, Yeongtong-gu, Suwon-si, Gyeonggi-do, South Korea</p>
                    <ul class="employers-icons list-inline mb-1">
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star-half f-19"></i></a></li>
                    </ul> <span class="badge badge-warning text-white">4.5</span>
                </div>
            </div>
            <hr class="mt-0 mb-0">
            <div class="apply-button text-center mt-2 mb-2"> <a href="https://www.samsung.com/us/about-us/our-business/" class="btn btn-custom btn-sm">View Profile</a></div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="list-grid-item mt-4">
            <div class="grid-item-content p-2">
                <div class="employers-list-img mt-3"> <img src="{% static 'images/youtube.png' %}" alt="" class="img-fluid mx-auto d-block rounded-circle"></div>
                <div class="grid-list-desc text-center mt-4">
                    <h5 class="mb-1"><a href="https://www.youtube.com/jobs/" class="text-dark">YouTube</a></h5>
                    <p class="text-muted f-14 mb-0">Video Algorithm Engineer, Digital Content Strategist</p>
                    <p class="text-muted f-14 mb-0"><i class="mdi mdi-map-marker mr-2"></i>901 Cherry Ave, San Bruno, CA 94066, USA</p>
                    <ul class="employers-icons list-inline mb-1">
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star-half f-19"></i></a></li>
                    </ul>
                    <span class="badge badge-warning text-white">4.7</span>
                </div>
            </div>
            <hr class="mt-0 mb-0">
            <div class="apply-button text-center mt-2 mb-2"> <a href="https://about.youtube/" class="btn btn-custom btn-sm">View Profile</a></div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="list-grid-item mt-4">
            <div class="grid-item-content p-2">
                <div class="employers-list-img mt-3"> <img src="{% static 'images/microsoft.png' %}" alt="" class="img-fluid mx-auto d-block rounded-circle"></div>
                <div class="grid-list-desc text-center mt-4">
                    <h5 class="mb-1"><a href="https://careers.microsoft.com/v2/global/en/home.html" class="text-dark">Microsoft</a></h5>
                    <p class="text-muted f-14 mb-0">Cloud Solutions Architect, Software Engineer</p>
                    <p class="text-muted f-14 mb-0"><i class="mdi mdi-map-marker mr-2"></i>2797 Bartlett Avenue Southfield, MI 48075</p>
                    <ul class="employers-icons list-inline mb-1">
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star f-19"></i></a></li>
                    </ul>
                    <span class="badge badge-warning text-white">4.8</span>
                </div>
            </div>
            <hr class="mt-0 mb-0">
            <div class="apply-button text-center mt-2 mb-2"> <a href="https://careers.microsoft.com/v2/global/en/home.html" class="btn btn-custom btn-sm">View Profile</a></div>
        </div>
    </div>
</div>
{% endblock %}