<script > function display_off_1() {
    var a = document.getElementById("form");
    var b = document.getElementById("form1");
    a.style.display = "none";
    b.style.display = "true";}

function display_off_2() {
    var a = document.getElementById("form1");
    var b = document.getElementById("form2");
    a.style.display = "none";
    b.style.display = "True";}

function display_off_3() {
    var a = document.getElementById("form2");
    var b = document.getElementById("form3");
    a.style.display = "none";
    b.style.display = "True";}</script>
{% extends 'base.html' %}
{% block content %}
<div>
<h1 class="h3 mb-3 fw-normal">Please enter your contact information</h1>
<form method="POST">
    {% csrf_token %}
    <div class="form-floating">
        {{ form }}
    </div>
    <hr>
    <input onclick="display_off_1()" type="submit" class="btn btn-primary"  href=" {{my_url}}" value="Next" >
</form>
</div>




<div id="form1" style ="display:none">
<h1 class="h3 mb-3 fw-normal">Please enter information about your experience</h1>
<form method="POST">
    {% csrf_token %}
    <div class="form-floating">
        {{ form1 }}
    </div>
    <input onclick="display_off_2()" type="submit" class="btn btn-primary"  value="realNext" >

</form>
<hr>

</div>

<div id="form2" style ="display:none">
    <h1 class="h3 mb-3 fw-normal">Please enter in the recommendendants.</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-floating">
            {{ form2 }}
        </div>
        <input onclick="display_off_3()" type="submit" class="btn btn-primary"  value="realNext" href="{{ my_url }}" >
    
    </form>
    <hr>
    
    </div>


<div id="form3" style ="display:none">
    <h1 class="h3 mb-3 fw-normal">Please enter in your reason why we should hire you.</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-floating">
            {{ form2 }}
        </div>
        <input type="submit" class="btn btn-primary"  value="realNext" href="{{ my_url }}" >
    
    </form>
    <hr>
    
    </div>


{% endblock %}