{% extends 'base.html' %}
{% block content %}

<h1 class="h3 mb-3 fw-normal">Please enter your contact information</h1>
<form method="POST">
    {% csrf_token %}
    <div class="form-floating">
        {{ form }}
    </div>
  
</form>
<hr>
<h1 class="h3 mb-3 fw-normal">Please enter information about your experience</h1>
<form method="POST">
    {% csrf_token %}
    <div class="form-floating">
        {{ form2 }}
    </div>
  
</form>
<hr>
<h1 class="h3 mb-3 fw-normal">Please enter information about your recommendations</h1>
<form method="POST">
    {% csrf_token %}
    <div class="form-floating">
        {{ form1 }}
    </div>
    <hr>
    <input type="submit" class="btn btn-primary"  value="realNext">
    <a class="btn btn-primary"  type="button" href="{{ my_url }}" >next</a>
</form>
{% endblock %}