.venv
venv
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
JobHunters/.idea/inspectionProfiles/profiles_settings.xml
JobHunters/.idea/JobHunters.iml
JobHunters/.idea/misc.xml
JobHunters/.idea/modules.xml
JobHunters/.idea/vcs.xml
JobHunters/.idea/sqldialects.xml
JobHunters/.idea/workspace.xml
