{% extends 'base.html' %}
{% block content %}

<form method="GET">
    {% csrf_token %}  
    <div style="text-align: center; background-color: #f8f9fa; border-radius: 10px; padding: 20px;">
        <img src="{{ application.job_listing.employer.logo_path }}" alt="" class="img-fluid mx-auto d-block rounded-circle" style="
        float: top;
        width:  150px;
        height: 150px;
        object-fit: contain;">
        <h1 style="font-family: 'Times New Roman', Times, serif; color: #333;">{{ application.title }}</h1>
        <p style="font-size: 18px; color: #555;">Status: {{ application.status }}</p>
        <p style="font-weight: bold; color: #007bff;">Due Date: {{ application.job_listing.due_date }}</p>
        <p style="color: #333;">Company: {{ application.job_listing.employer.name }}</p>
        <p style="font-style: italic; color: #888;">Hours: {{ application.job_listing.time_type }}</p>
        <p style="color: #333;">Category: {{ application.job_listing.category }}</p>

        {% if experience is not None %}
            <h1>Previous experience</h1>
            <p>Place of work: {{experience.place_of_work}}</p>
            <p>Role: {{experience.role}}</p>
            <p>Start date: {{experience.start_date}}</p>
            <p>End date: {{experience.end_date}}</p>
        {% endif %}

        {% if recommendation is not None %}
            <h1>Recommendation</h1>
            <p>Name: {{recommendation.name}}</p>
            <p>Email Address: {{recommendation.email_address}}</p>
            <p>Phone Number: {{recommendation.phone_number}}</p>
            <p>Role: {{recommendation.role}}</p>
        {% endif %}
    </div>
</form>

{% endblock %}