{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <h2>Your Profile</h2>
    <br>
    <div style="text-align: left; background-color: #f8f9fa; border-radius: 10px; padding: 20px; display: flex; flex-direction: row; align-items: stretch;">
        <div style="flex-grow: 2;">
        <p><b>Current user:</b> {{ user }}</p>
        <p><b>name:</b> {{ jobseeker.name }}</p>
        <p><b>Email:</b> {{ jobseeker.email }}</p>
        <p><b>Address:</b> {{ jobseeker.address }}</p>
        </div>
        <p><b>User Profile picture:</b><br>
            <img src="{% if jobseeker.profile_image_path %}{{ jobseeker.profile_image_path }}{% else %}{% static 'images/defaultpfp.png' %}{% endif %}"
                 style="
                flex-grow: 1;
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;">
            </a>
        </p>
    </div> 
    <hr>
     <h3>Edit Your Profile</h3>
    <div style="text-align: left; background-color: #f8f9fa; border-radius: 10px; padding: 20px; display: flex; flex-direction: row; align-items: stretch;">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
    </div>
    <hr>

    <h1 style="text-align: center; font-weight: bold; font-family: 'Times New Roman', Times, serif;">Job Applications</h1>
    <div class="container">
        <div class="row">
            {% for application in applications %}
                {% include 'Users/single_application.html' with application=application %}
            {% endfor %}
        </div>
    </div>

{% endblock %}