{% extends 'base.html' %}
{% block content %}
    <h2>Your Profile</h2>
    <br>
    <div>
        <p>  <img src="{{ jobseeker.profile_image_path}}" alt="profile image" class="profile-image" height="100"></p>
        <p><b>Current user:</b> {{ user }}</p>
        <p><b>name:</b> {{ jobseeker.name }}</p>
        <p><b>Email:</b> {{ jobseeker.email }}</p>
        <p><b>Address:</b> {{ jobseeker.address }}</p>
        
    </div> 
    <hr>
    <div>
        <h3>Edit Your Profile</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
    </div>
{% endblock %}