<div class="col-md-4 ">
    <div class="card mb-4 box-shadow" style="height: 230px;">
      <div class="card-body" style="position: relative;">
        <h1 class="card-text">{{ application.title }}</h1>
        <p class="card-text">{{ application.status }}</p>
        <a class="btn btn-primary" href="{% url 'application_details' id=application.job_listing.id %}" style="position: absolute; right: 0; bottom: 0; width: 100% ; height: 40px; border-radius: 0;">View</a>
      </div>
    </div>
  </div>