<footer class="footer">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'faq' %}" class="nav-link px-2 text-body-secondary">FAQ</a></li>
      <li class="nav-item"><a href="{% url 'aboutUs' %}" class="nav-link px-2 text-body-secondary">About us</a></li>
      <li class="nav-item"><a href="{% url 'jobTips' %}" class="nav-link px-2 text-body-secondary">Job Tips</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; Job Hunters Inc - Est 2024</p>
</footer>