.jobs {
    background-color: rgb(23, 95, 119);
    border: solid 2px lightblue;
}

#flex-container {
   display:flex;
   flex-direction:column;

   min-height:100vh;

   min-height:100svh;
}
#flex-container > footer {
   margin-top:auto;
}